.add-card {
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.add-card h4 {
  color: rgba(0, 0, 0, 1);
  font-size: 1.4rem;
  transform: rotate(-45deg);
  margin: 0;
}
.add-card button {
  display: none;
}
.add-card-input {
  border-radius: 5px;
  margin: 10px 0;
  margin-right: 3px;
  padding: 10px;
  border: none;
}
.form-add-card {
  margin: 0;
}
.form-add-card h4 {
  transition: all 0.2s ease 0s;
  color: rgba(90, 90, 90, 0.6);
}
.form-add-card h4:hover {
  color: rgba(0, 0, 0, 0.8);
}
