.card {
  min-width: 250px;
  background-color: rgba(12, 198, 204, 0.7);
  /* border: 1px solid rgb(182, 29, 29); */
  border-radius: 10px;
  padding: 10px;
  margin: 10px 10px;
}
.card h1 {
  color: #fff;
}
.card h4 {
  cursor: pointer;
}
