.board-title {
  max-width: 400px;
  max-height: 100px;
  overflow: auto;
  min-width: 300px;
  background-color: #03bebe;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #0b7e7e;
  word-wrap: break-word;
}

.board-title h3 {
  color: #fff;
  margin: 10px;
  font-size: 1.5rem;
}

.add-list {
  background-color: #fff;
  border: 1px solid black;
  padding: 10px;
  max-width: 300px;
  text-align: center;
  margin-top: 10px;
  transition: all 0.2s ease 0s;
}
.add-list:hover {
  background-color: rgb(235, 235, 235);
  transform: scale(1.05);
}
.add-list:active {
  background-color: rgb(204, 204, 204);
}
.add-list h3 {
  cursor: pointer;
}
.add-list-render {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.add-list-render h4 {
  margin-top: 0;
  margin-left: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  transform: rotate(-45deg);
  /* background-color: #03bebe;
  border-radius: 50%; */
}

input {
  width: 270px;
  height: 30px;
  border-radius: 3px;
  outline: none;
  border: 1px solid gray;
  font-size: 1.3rem;
}
